:root {
	--font-body: "Rubik", Helvetica, Arial, sans-serif;
	--font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
		"Courier New", monospace;
	--color-bg-0: black;
	--color-bg-1: #414558;
	--color-bg-2: #484b56;
	--color-theme-1: #e68150;
	--color-theme-2: #e5601d;
	--color-text: white;
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
  background: linear-gradient(135deg, hsl(230, 40%, 12%), hsl(230, 20%, 7%));
	background-size: 100vw 100vh;
}

ul {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
	color: var(--color-theme-1);
}

a:hover {
	text-decoration: underline;
}

.app {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.container {
	width: 500px;
}

.text-gray {
	color: #545454;
}

.text-gray-2 {
	color: #404040;
}

.text-gray-3 {
	color: #707070;
}

.white {
	color: white;
}

.text-sm {
	font-size: 0.825rem;
}

.flex {
	display: flex;
}

.item-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}
.justify-between {
	justify-content: space-between;
}

.gap-1 {
	gap: 5px;
}

.gap-2 {
	gap: 10px;
}

/* CSS */
.button-70 {
	background-image: linear-gradient(var(--color-theme-1), var(--color-theme-2));
	border: 0;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 5px 15px;
	box-sizing: border-box;
	color: #fff;
	font-family: Montserrat, sans-serif;
	font-size: 0.9em;
	padding: 10px 15px;
	text-align: center;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	cursor: pointer;
}

@keyframes lights {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
  30% { 
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  40% { 
    color: hsl(230, 100%, 95%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }
  
  70% {
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  100% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
}

h3 {
  margin: auto;
  font-size: 2rem;
  font-weight: 300;
	text-align: center;
  animation: lights 5s 750ms linear infinite;
}

.iconContainer {
	padding: 20px;
}
@media only screen and (max-width: 786px) {
	.iconContainer {
		display: none;
		padding: 0;
	}
}
